body {
  font-family: 'Open Sans', serif;
  padding-top: 54px;
  color: #868e96;
  width: 100%;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-right: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
  transition: all 0.2s linear;
}

.list-social-icons a:hover {
  color: #BD5D38;
  transition: all 0.2s linear;
}

.list-social-icons a .fa-lg {
  font-size: 2.1rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
  transition: all 0.2s linear;
}

#sideNav .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 100vh;
  }

  #sideNav .navbar-brand {
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
  }

  #sideNav .navbar-brand .img-profile {
    max-width: 13rem;
    max-height: 13rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
  }

  #sideNav .navbar-collapse {
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    width: 100%;
    margin-bottom: auto;
  }

  #sideNav .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item {
    display: block;
  }

  #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: block;
  }
}

section.resume-section {
  border-bottom: 1px solid #dee2e6;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }

  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #BD5D38 !important;
}

.text-primary {
  color: #BD5D38 !important;
}

a {
  color: #BD5D38;
}

a:hover,
a:focus,
a:active {
  color: #824027;
}

.container-fluid {
  position: absolute;
  max-width: 1168px;
  left: 0;
}

.fixed-top {
  left: auto;
}

.relative {
  position: relative;
}

.sub-txt {
  font-size: 1.8rem;
  font-weight: 700;
  color: #BD5D38;
}

.img-size {
  max-width: 4rem;
}

.skill-item {
  display: flex;
}

.progress {
  background: none;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-point {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  opacity: 0.7;
}
.progress-point:nth-child(1) {
  margin-left: 6px;
}

.progress-point:nth-child(2), 
.progress-point:nth-child(4) {
  margin: 0 5px;
}

.point_html {
  border: 3px solid #F1642B;
  animation: full_html 2s linear;
}

/* .point_html:nth-child(1) {
  background-color: #F1642B;
  transform: scale(1.2, 1.2);
  opacity: 1;
} */

.point_css {
  border: 3px solid #33A9DC;
}

.point_js {
  border: 3px solid #F0DA51;
}

.point_nodejs {
  border: 3px solid #83CD29;
}

.point_sass {
  border: 3px solid #CB6699;
}

.point_jquery {
  border: 3px solid #0768AC;
}

.point_bootstrap {
  border: 3px solid #8211FA;
}
@media (min-width: 992px) {
  .my-auto {
    padding-right: 17rem;
  }
}

@media (min-width: 1140px) {
  .my-auto {
    padding-right: 15rem;
  }
}

@media (min-width: 1240px) {
  .my-auto {
    padding-right: 12rem;
  }
}

@media (min-width: 1340px) {
  .my-auto {
    padding-right: 8rem;
  }
}

@media (min-width: 1440px) {
  .my-auto {
    padding-right: 0rem;
  }
}